{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} Chexam</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Flow bite -->
    <script defer src="https://unpkg.com/flowbite@1.4.2/dist/flowbite.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.2/dist/flowbite.min.css"/>

    {% block stylesheets %}
    {% endblock %}

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- Scripts -->
    {% block scripts %}

    {% endblock %}
    <!-- Fonts -->
    <!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
    <!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">-->
    <!-- Fontawesome -->
</head>

<body>


<!-- START navbar -->
{% if request.user.is_authenticated %}
    {% include 'components/navbars/base.html' %}
{% endif %}
<!-- END navbar -->

<!-- START sidebar -->
{% if request.user.is_authenticated %}
    {% include 'components/sidebars/base.html' %}
{% endif %}
<!-- END sidebar -->

{% block content %}

{% endblock %}

</body>

</html>