<div class="user-info-resume flex justify-between">
    <div class="user-name mt-6">
        <p class="text-xl text-gray-800 font-bold">
            {% if header_title %}
                {{ header_title }}
            {% else %}
                {% if request.user.is_staff %}
                    ADMIN
                {% else %}
                    Welcome, {{ request.user.username }}
                {% endif %}
            {% endif %}
        </p>
    </div>
    <div class="details mt-4 text-right  text-white">
        <p class="semester font-bold">Semester 2</p>
        <p class="time">
            {% if request.user.teacher %}
                {{ request.user.teacher.module_name }}
            {% elif request.user.student %}
                {{ request.user.student.calc_average }}
            {% endif %}
        </p>
    </div>
</div>