{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/exams.css' %}">
{% endblock %}

{% block content %}

    <div class="report-list space-y-6 mt-5 overflow-y-auto max-h-[380px]">
        {% for reclamation in reclamations %}
            {% include 'exams/reclamations_page/components/reclamation.html' with reclamation=reclamation %}
        {% endfor %}
    </div>

    <a href="#">Upload solution</a>
    <a href="#">Make announcement</a>
{% endblock %}
